.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}
.btn-proceed{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    background-color: #FF9900;
    border-radius: 12px;
    color: white;
    padding: 15px;
}
.link-proceed{
    text-decoration: none;
}