.cart{
    background-color: bisque;
    height: 600px;
    padding-left: 60px;
    position: sticky;
    top: 0;
}
.btn-clear-cart{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    background-color: tomato;
    border-radius: 12px;
    color: white;
    padding: 15px;
}